In [1]:
import gzip
import jsonlines
import pandas as pd
import numpy as np
import json
import os.path
import copy

In [2]:
read_gzip = './Base_Case/output_legs.csv.gz'
dflegs = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
ncar = dflegs[dflegs["mode"]=="car"]["mode"].count()
nbus = dflegs[dflegs["mode"]=="bus"]["mode"].count()
nrail = dflegs[dflegs["mode"]=="rail"]["mode"].count()
nwalk = dflegs[dflegs["mode"]=="walk"]["mode"].count()
npt = dflegs[dflegs["mode"]=="pt"]["mode"].count()
dfBase = dflegs.copy()
# print the counts
print("Total car trips: " + str(ncar))
print("Total bus trips: " + str(nbus))
print("Total rail trips: " + str(nrail))
print("Total walk trips: " + str(nwalk))
print("Total PT trips: " + str(npt))

#####
read_gzip = './Base_Case/output_persons.csv.gz'
dfpersons = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
# dfpersons.count()
dfpersons_base = dfpersons.copy()

Total car trips: 1276602
Total bus trips: 0
Total rail trips: 0
Total walk trips: 173539
Total PT trips: 3221

In [4]:
import time

dfBase["trav_time"] = pd.to_timedelta(dfBase["trav_time"], unit='min',errors="coerce")
dfBase["wait_time"] = pd.to_timedelta(dfBase["wait_time"], unit='min',errors="coerce")
start = time.ctime(time.time())
print("Start time: " + str(start))
dfBase_agg = dfBase.groupby("trip_id").agg({
                                            "person":"first",
                                            "dep_time":"first",
                                            "trav_time":"sum",
                                            "wait_time":"sum",
                                            "distance":"sum",
                                            "mode":(','.join),
                                            "start_link":"first",
                                            "end_link":"first"}).copy()
end = time.ctime(time.time())
print("Execution End Time : " + str(end))

Start time: Thu Feb 25 12:26:47 2021
Execution End Time : Thu Feb 25 12:36:41 2021

In [5]:
read_gzip = './Low_Income/output_legs.csv.gz'
dflegs = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
ncar = dflegs[dflegs["mode"]=="car"]["mode"].count()
nbus = dflegs[dflegs["mode"]=="bus"]["mode"].count()
nrail = dflegs[dflegs["mode"]=="rail"]["mode"].count()
nwalk = dflegs[dflegs["mode"]=="walk"]["mode"].count()
npt = dflegs[dflegs["mode"]=="pt"]["mode"].count()
dfLI = dflegs.copy()
# print the counts
print("Total car trips: " + str(ncar))
print("Total bus trips: " + str(nbus))
print("Total rail trips: " + str(nrail))
print("Total walk trips: " + str(nwalk))
print("Total PT trips: " + str(npt))

#####
read_gzip = './Low_Income/output_persons.csv.gz'
dfpersons = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
# dfpersons.count()
dfpersons_LI = dfpersons.copy()

Total car trips: 1276822
Total bus trips: 0
Total rail trips: 0
Total walk trips: 173913
Total PT trips: 3186

In [7]:
import time

dfLI["trav_time"] = pd.to_timedelta(dfLI["trav_time"], unit='min',errors="coerce")
dfLI["wait_time"] = pd.to_timedelta(dfLI["wait_time"], unit='min',errors="coerce")
start = time.ctime(time.time())
print("Start time: " + str(start))
dfLI_agg = dfLI.groupby("trip_id").agg({
                                            "person":"first",
                                            "dep_time":"first",
                                            "trav_time":"sum",
                                            "wait_time":"sum",
                                            "distance":"sum",
                                            "mode":(','.join),
                                            "start_link":"first",
                                            "end_link":"first"}).copy()
end = time.ctime(time.time())
print("Execution End Time : " + str(end))

Start time: Thu Feb 25 12:39:32 2021
Execution End Time : Thu Feb 25 12:49:23 2021

In [8]:
read_gzip = './HiPTRdrshp/output_legs.csv.gz'
dflegs = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
ncar = dflegs[dflegs["mode"]=="car"]["mode"].count()
nbus = dflegs[dflegs["mode"]=="bus"]["mode"].count()
nrail = dflegs[dflegs["mode"]=="rail"]["mode"].count()
nwalk = dflegs[dflegs["mode"]=="walk"]["mode"].count()
npt = dflegs[dflegs["mode"]=="pt"]["mode"].count()
dfHiPT = dflegs.copy()
# print the counts
print("Total car trips: " + str(ncar))
print("Total bus trips: " + str(nbus))
print("Total rail trips: " + str(nrail))
print("Total walk trips: " + str(nwalk))
print("Total PT trips: " + str(npt))

#####
read_gzip = './HiPTRdrshp/output_persons.csv.gz'
dfpersons = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
# dfpersons.count()
dfpersons_HiPT = dfpersons.copy()

Total car trips: 1276194
Total bus trips: 0
Total rail trips: 0
Total walk trips: 174915
Total PT trips: 4176

In [9]:
import time

dfHiPT["trav_time"] = pd.to_timedelta(dfHiPT["trav_time"], unit='min',errors="coerce")
dfHiPT["wait_time"] = pd.to_timedelta(dfHiPT["wait_time"], unit='min',errors="coerce")
start = time.ctime(time.time())
print("Start time: " + str(start))
dfHiPT_agg = dfHiPT.groupby("trip_id").agg({
                                            "person":"first",
                                            "dep_time":"first",
                                            "trav_time":"sum",
                                            "wait_time":"sum",
                                            "distance":"sum",
                                            "mode":(','.join),
                                            "start_link":"first",
                                            "end_link":"first"}).copy()
end = time.ctime(time.time())
print("Execution End Time : " + str(end))

Start time: Thu Feb 25 12:49:39 2021
Execution End Time : Thu Feb 25 12:59:22 2021

In [10]:
read_gzip = './HiPTRdrshp_buslane/output_legs.csv.gz'
dflegs = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
ncar = dflegs[dflegs["mode"]=="car"]["mode"].count()
nbus = dflegs[dflegs["mode"]=="bus"]["mode"].count()
nrail = dflegs[dflegs["mode"]=="rail"]["mode"].count()
nwalk = dflegs[dflegs["mode"]=="walk"]["mode"].count()
npt = dflegs[dflegs["mode"]=="pt"]["mode"].count()
dfHiPTBus = dflegs.copy()
# print the counts
print("Total car trips: " + str(ncar))
print("Total bus trips: " + str(nbus))
print("Total rail trips: " + str(nrail))
print("Total walk trips: " + str(nwalk))
print("Total PT trips: " + str(npt))

#####
read_gzip = './HiPTRdrshp_buslane/output_persons.csv.gz'
dfpersons = pd.read_csv(read_gzip, compression='gzip', header=0, sep=';', quotechar='"', error_bad_lines=False,low_memory=False)
#### mode = ['car', 'walk', 'bus', 'rail', 'pt']
# dfpersons.count()
dfpersons_HiPTBus = dfpersons.copy()

Total car trips: 1276059
Total bus trips: 0
Total rail trips: 0
Total walk trips: 175173
Total PT trips: 4205

In [11]:
import time

dfHiPTBus["trav_time"] = pd.to_timedelta(dfHiPTBus["trav_time"], unit='min',errors="coerce")
dfHiPTBus["wait_time"] = pd.to_timedelta(dfHiPTBus["wait_time"], unit='min',errors="coerce")
start = time.ctime(time.time())
print("Start time: " + str(start))
dfHiPTBus_agg = dfHiPTBus.groupby("trip_id").agg({
                                            "person":"first",
                                            "dep_time":"first",
                                            "trav_time":"sum",
                                            "wait_time":"sum",
                                            "distance":"sum",
                                            "mode":(','.join),
                                            "start_link":"first",
                                            "end_link":"first"}).copy()
end = time.ctime(time.time())
print("Execution End Time : " + str(end))

Start time: Thu Feb 25 12:59:37 2021
Execution End Time : Thu Feb 25 13:09:49 2021

In [12]:
dfBaseagg = dfBase_agg.copy()
dfLIagg = dfLI_agg.copy()
dfHiPTagg = dfHiPT_agg.copy()
dfHiPTBusagg = dfHiPTBus_agg.copy()

In [13]:
dfBaseagg = dfBase_agg.copy()
dfBaseagg = dfBaseagg.reset_index()
dfBaseagg['mode'] = np.where(dfBaseagg['mode'].str.contains("pt"),"bus",dfBaseagg['mode'])
dfBaseagg['mode'] = np.where(dfBaseagg['mode'].str.contains("walk"),"walk",dfBaseagg['mode'])
dfBaseagg['mode'] = np.where(dfBaseagg['mode'].str.contains("car"),"car",dfBaseagg['mode'])

In [14]:
dfLIagg = dfLI_agg.copy()
dfLIagg = dfLIagg.reset_index()
dfLIagg['mode'] = np.where(dfLIagg['mode'].str.contains("pt"),"bus",dfLIagg['mode'])
dfLIagg['mode'] = np.where(dfLIagg['mode'].str.contains("walk"),"walk",dfLIagg['mode'])
dfLIagg['mode'] = np.where(dfLIagg['mode'].str.contains("car"),"car",dfLIagg['mode'])

In [15]:
dfHiPTagg = dfHiPT_agg.copy()
dfHiPTagg = dfHiPTagg.reset_index()
dfHiPTagg['mode'] = np.where(dfHiPTagg['mode'].str.contains("pt"),"bus",dfHiPTagg['mode'])
dfHiPTagg['mode'] = np.where(dfHiPTagg['mode'].str.contains("walk"),"walk",dfHiPTagg['mode'])
dfHiPTagg['mode'] = np.where(dfHiPTagg['mode'].str.contains("car"),"car",dfHiPTagg['mode'])

In [16]:
dfHiPTBusagg = dfHiPTBus_agg.copy()
dfHiPTBusagg = dfHiPTBusagg.reset_index()
dfHiPTBusagg['mode'] = np.where(dfHiPTBusagg['mode'].str.contains("pt"),"bus",dfHiPTBusagg['mode'])
dfHiPTBusagg['mode'] = np.where(dfHiPTBusagg['mode'].str.contains("walk"),"walk",dfHiPTBusagg['mode'])
dfHiPTBusagg['mode'] = np.where(dfHiPTBusagg['mode'].str.contains("car"),"car",dfHiPTBusagg['mode'])

In [18]:
"""
    Read the household file i.e. households.csv.gz
    check the household_income<=$20,000, create a new dictionary variable storing this information
"""
def getHHInc(df):
    read_gzip = r"households.csv.gz"
    dfHH = pd.read_csv(read_gzip, compression='gzip', header=0, sep=',', quotechar='"', error_bad_lines=False,low_memory=False)
    dfHH.loc[dfHH['household_income'] <= 20000, 'LoInc'] = 1
    dfHH['LoInc']=dfHH['LoInc'].fillna(0)
    # create a dictonary list
    LoIncHH_dict = dict(zip(dfHH['hh_id'], dfHH['LoInc']))
    # create HH column
    df["LoInc"] = df["person"].str.slice(0,-2)
    # Remap the values of the dataframe ("Yes"=1 & "No"=0)    
    df["LoInc"]= df["LoInc"].map(LoIncHH_dict)
    return df

# get the revised dataframe
df1=dfBaseagg.reset_index()[["person","trip_id","mode"]]
df1["Total_Trips"]=1
df1 = getHHInc(df1)

df2=dfLIagg.reset_index()[["person","trip_id","mode"]]
df2["Total_Trips"]=1
df2 = getHHInc(df2)

df3=dfHiPTagg.reset_index()[["person","trip_id","mode"]]
df3["Total_Trips"]=1
df3 = getHHInc(df3)

df4=dfHiPTBusagg.reset_index()[["person","trip_id","mode"]]
df4["Total_Trips"]=1
df4 = getHHInc(df4)

In [19]:
pd.crosstab(df1["mode"], df1["Total_Trips"])

Total_Trips        1
mode
bus             3182
car          1276602
walk          167142

In [20]:
pd.crosstab(df1["mode"], df1["LoInc"])

LoInc      0.0     1.0
mode
bus       2728     454
car    1175035  100944
walk    146968   20148

In [21]:
pd.crosstab(df2["mode"], df2["Total_Trips"])

Total_Trips        1
mode
bus             3152
car          1276822
walk          167586

In [22]:
pd.crosstab(df2["mode"], df2["LoInc"])

LoInc      0.0     1.0
mode
bus       2712     439
car    1175169  101036
walk    147436   20119

In [23]:
pd.crosstab(df3["mode"], df3["Total_Trips"])

Total_Trips        1
mode
bus             4148
car          1276194
walk          166593

In [24]:
pd.crosstab(df3["mode"], df3["LoInc"])

LoInc      0.0     1.0
mode
bus       3516     631
car    1174722  100855
walk    146497   20065

In [25]:
pd.crosstab(df4["mode"], df4["Total_Trips"])

Total_Trips        1
mode
bus             4177
car          1276059
walk          166794

In [26]:
pd.crosstab(df4["mode"], df4["LoInc"])

LoInc      0.0     1.0
mode
bus       3553     621
car    1174513  100929
walk    146755   20010

In [ ]:
# Create Maps